<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.aperture.core"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <permission android:name="com.example.aperture.core.BIND_MODULES" />
    <uses-permission android:name="com.example.aperture.core.BIND_MODULES" />

    <permission android:name="com.example.aperture.core.RESOLVE_STALEMATES" />
    <uses-permission android:name="com.example.aperture.core.RESOLVE_STALEMATES" />

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:uiOptions="splitActionBarWhenNarrow">

        <activity android:name="AerialFaithActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.support.ui.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" />
        </activity>

        <activity android:name="StalemateResolutionActivity">
        </activity>

        <!-- =============================================================== -->
        <service android:name=".launcher.LauncherModule"
                 android:label="@string/launcher_module_label"
                 android:permission="com.example.aperture.core.BIND_MODULES">
            <intent-filter>
                <action android:name="com.example.aperture.core.ACTION_BIND_MODULE" />
            </intent-filter>
        </service>

        <service android:name=".contacts.ContactsModule"
                 android:label="@string/contacts_module_label"
                 android:permission="com.example.aperture.core.BIND_MODULES">
            <intent-filter>
                <action android:name="com.example.aperture.core.ACTION_BIND_MODULE" />
            </intent-filter>
        </service>

        <service android:name=".email.EmailModule"
                 android:label="@string/email_module_label"
                 android:permission="com.example.aperture.core.BIND_MODULES">
            <intent-filter>
                <action android:name="com.example.aperture.core.ACTION_BIND_MODULE" />
            </intent-filter>
        </service>

        <service android:name=".phone.PhoneModule"
                 android:label="@string/phone_module_label"
                 android:permission="com.example.aperture.core.BIND_MODULES">
            <intent-filter>
                <action android:name="com.example.aperture.core.ACTION_BIND_MODULE" />
            </intent-filter>
        </service>

        <service android:name=".web.WebModule"
                 android:label="@string/web_module_label"
                 android:permission="com.example.aperture.core.BIND_MODULES">
            <intent-filter>
                <action android:name="com.example.aperture.core.ACTION_BIND_MODULE" />
            </intent-filter>
        </service>

        <service android:name=".search.SearchModule"
                 android:label="@string/search_module_label"
                 android:permission="com.example.aperture.core.BIND_MODULES">
            <intent-filter>
                <action android:name="com.example.aperture.core.ACTION_BIND_MODULE" />
            </intent-filter>
        </service>

    </application>
</manifest>
